body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}
h2 {
    color: #2c3e50;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%; /* Define 3 cards por linha */
    margin: 10px 0;
    transition: transform 0.2s;
    box-sizing: border-box;
}
.card:hover {
    transform: scale(1.05);
}
@media (max-width: 900px) {
    .card { width: 45%; } /* 2 por linha em telas médias */
}
@media (max-width: 600px) {
    .card { width: 100%; } /* 1 por linha em telas pequenas */
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white; /* Cor de fundo da tabela */
}
th, td {
    border: 1px solid #bdc3c7;
    padding: 10px;
    text-align: center;
}
th {
    background: #3498db;
    color: white;
}
h1 {
    text-align: center;
}
.highlight-green {
    background-color: MediumSeaGreen;
    padding: 0 5px;
}
#changeBackgroundBtn {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#changeBackgroundBtn:hover {
    background-color: #2980b9;
}
.certificados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px; /* Aumentei o espaçamento entre os certificados */
    margin-top: 40px; /* Afasta os certificados do topo */
}
.certificados a {
    display: inline-block;
    text-decoration: none;
}
.certificados img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease-in-out;
}
.certificados img:hover {
    transform: scale(1.1);
}